/* Box Model Hack */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
header{
  background-color: rgb(137, 137, 184);
  height: 500px;
  color: white;
  text-transform: uppercase;
}

nav a{
  color: white;
}

.square{
  border: 2px solid rgb(137, 137, 184);
  height: 100px;
  width: 50%;
}

/******************************************
/* LAYOUT
/*******************************************/
header ul li{
  list-style: none;
  text-transform: uppercase;
  float: left;
  padding: 0 10px;

}
header nav > *{
  width: 33%;
  float: left;

}

nav img{
  text-align: center;
}
nav a{
  text-align: right;
}

header nav ul{
  margin: 0;
}
header h1{
  font-size: 50px;
}

header h1, header p{
  clear: both;
  text-align: center;
  padding: 80px 0 0 0;
  margin: 0 20% 0 20%;
}
header p+p{
  text-transform: none;
}

section > p, section > h5{
  margin: 40px 0;
  text-align: center;
  margin: 0 200px 0 200px;
}

section > h5{
  font-size: 30px;
  padding: 50px 0 20px 0;
}

.whySection{
  padding-bottom: 150px;
}

.imgSection{
  margin: 0 0 100px 0;
  background-color: gray;
  padding: 100px 150px;
  float: left;
  width: 100%;
}

.leftImgSection{
  width: 50%;
  float: left;
  text-align: center;
}

.rightImgSection{
  width: 50%;
  float: left;
  text-align: center;

}

div > div{
  margin: auto;
}

.volunteer{
  text-align: center;
  padding: 0 150px;
  clear: both;
  margin-bottom: 100px;
}

.volunteer p, .volunteer a{
  padding-bottom: 50px;
}

footer{
  color: white;
  height: 300px;
  background-color: rgb(27, 27, 30);
}
.leftFooter{
  float: left;
}

.rightFooter{
  float: right;
}

.bottomNav{
  clear: both;
  padding: 0 0 20px 0;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
