/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header, footer {
  border: 1px solid gray;
  height: 150px;
  clear: both;
}

section{
  float: left;
  width: 20%;
  height: 500px;
  border: 1px solid gray;
}

.bigSection{
  width: 40%;
}

@media screen and (max-width: 600px){
  section{
    background-color: green;
  }
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
